<div class="admin-page-header">
    <h1>私信对话</h1>
    <a href="/private_messages" class="btn btn-secondary">返回</a>
</div>

<div class="pm-chat-shell"
     data-partner-id="{{ partner_id }}"
     data-my-avatar="{{ myAvatarUrl|default('') }}"
     data-my-initial="{{ myInitial|default('') }}"
     data-partner-avatar="{{ partnerAvatarUrl|default('') }}"
     data-partner-initial="{{ partnerInitial|default('') }}">
    {% include 'admin/partials/private_chat_messages.twig' %}
    {% include 'admin/partials/private_chat_input.twig' %}
</div>

<script src="/assets/js/marked.min.js?v={{ _assets_ver }}"></script>
<script src="/assets/js/private-chat.js?v={{ _assets_ver }}"></script>
